body{
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.solidbackgrounds.com%2Fblue-abstract-noise-free-website-background-image.html&psig=AOvVaw1BYhCwufF0o7CiXkHx0Ybs&ust=1614769505198000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMi85rO7ke8CFQAAAAAdAAAAABAD");
  font-size:16px;
  font-weight:bold;
  font-family: Georgia;
}
