body{
  background-image: url("https://www.solidbackgrounds.com/images/website/950x534/950x534-blue-abstract-noise-free-website-background-image.jpg");
}
h1{
  color: white;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
  font-size:40px;
}
.box1{
  font-size:20px;
  font-family: Copperplate;
  color: white;
}
.box2{
  font-size:15px;
  font-family: Copperplate;
  color: white;
}
.container{
  height: 75vh;
  width: 30%;
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
